
h1{
    color:rgb(66, 143, 209); text-align: center; font-size: 50px;
}
.solido{
    border: solid red;
    border-width: 10px;
    border-radius: 15px;
}
.redondeado{
    border: 5px solid blueviolet;
    border-radius: 20px 0px 10px 0px;
}

