h1{
    text-align: center;
<<<<<<< HEAD
}
.punteado{
    border-style: dotted;
    border-width: 10px 5px 3px 2px;
}
.discontinuo{
    border-style: dashed;
    border-width: thin;/*Borde Delgado*/
}
.solido{
    border-style:solid;
    border-width: medium;/*Borde Mediano*/
}
.doble{
    border: 5px double;
    border-width: thick;/*Borde Grande*/
}
.surco{
    border: groove;
    border-width: 10px 5px 2px;
=======
}
.punteado{
    border-style: dotted;
    border-width: 10px 5px 3px 2px;
}
.discontinuo{
    border-style: dashed;
    border-width: thick;/*thin, medium, thick*/

}
.solido{
    border: solid red;
    border-width: 10px 5px 2px;
}
.doble{
    border: 5px double blueviolet;
    border-width: 10px 5px;
}
.surco{
    border: 10px groove;
    
}
.surco1{
    border: 10px groove;
    
>>>>>>> 6891ca7107100a15e18c785969059a5726b608c8
}
.cresta{
    border: 10px ridge;
}
.recuadro{
<<<<<<< HEAD
    border:10px inset;
}
.outset{
    border:10px outset;
}
.sinborde{
    border:10px none;
=======
    border: 10px inset;
}
.outset{
    border: 10px outset;
}
.sin_borde{
    border: none;
}
.oculto{
    border: hidden;
>>>>>>> 6891ca7107100a15e18c785969059a5726b608c8
}
.mixto{
    border-style: dotted solid dashed double;
}